.tabs {
	background: #333;
	color: #fff;
}

[data-tabs] {
	display: flex;
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}
[data-tabs] >* {
	padding: 1rem 1rem;
	cursor: pointer;
}
[data-tabs] .active {
	//border-bottom: 2px solid #fff;
	position: relative;

	&:after {
		content: '';
		width: 0; 
		height: 0; 
		border-left: .4rem solid transparent;
		border-right: .4rem solid transparent;
		border-bottom: .4rem solid #f5f5f5;
		position: absolute;
		bottom: 0;
		left: calc(50% - .2rem);
	}
}
[data-panes] > * {
	display: none;
	border-top: none;
}
[data-panes] > .active {
	display: block;
}