comp-top {
  background: #465bad;

  .bar {
    display: flex;
    margin: 0 auto;
    max-width: $large;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: $default) {
      padding-left: 1rem;
      height: 6rem;
      flex-direction: row;
      justify-content: flex-start;
    }

    .logo {
      @media screen and (max-width: $default) {
        margin-bottom: 1rem;
        margin-top: 1rem;
      }
      a {
        display: flex;
        margin-right: 2rem;
        color: #fff;
        font-family: omnes-narrow;
        text-decoration: none;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 500;

        display: flex;
        align-items: center;

        img {
          max-height: 4rem;
          margin-right: .5rem;
        }

        @media screen and (max-width: $default) {
          margin-right: 0;
        }
      }
    }

    .menu {
      width: 100%;
      box-sizing: border-box;

      @media screen and (max-width: $default) {
        padding: .1rem;
      }
      
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;

        li {
          font-size: 1rem;

          @media screen and (max-width: $default) {
            text-align: center;
          }
          &.active {
            a {
              background: rgba(0,0,0,.25);
              color: #fff;
            }
          }

          a {
            text-decoration: none;
            background: rgba(255,255,255,.1);
            color: #fff;
            display: block;
            padding: .75rem 2rem;
            white-space: nowrap;
            //border-radius: .25rem;
            margin: .1rem;
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}