.hero
  .quotes {
    margin-bottom: 2rem;
  }
  .quote {
  display: flex;
  margin-bottom: 1rem;
  background: #f5f5f5;

  figure {
    padding: 1rem;

    @media screen and (min-width: $medium) {
      padding: 2rem;
    }

    img {
      max-width: 2rem;
      width: 100%;
      border: 2px solid #f5f5f5;
      border-radius: 100vh;
      background: #fff;

      @media screen and (min-width: $medium) {
        max-width: 4rem;
      }
    }
  }
  blockquote {
    padding: 1rem;
    padding-left: 0;
    flex: 1;

    @media screen and (min-width: $large) {
      padding: 2rem;
    }

    p {
      margin-bottom: 1rem;
      font-size: .9rem;
      line-height: 1.7;

      @media screen and (min-width: $large) {
        font-size: 1rem;
      }
    }

    cite {
      font-style: normal;

      &:before {
        content: 'Källa: ';
        font-weight: bold;
      }
      a {
        color: #0074D9;
      }
    }
  }
}