.itemboxes {
  background: var(--color-gray);

  ul {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
    list-style: none;
  }
}

.itembox {
  a {
    background: #fff;
    display: flex;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: #222;
    text-decoration: none;
    position: relative;

    &:hover {

      .text h3 {
        text-decoration: underline dotted;
      }
    }

    &:after {
      background-image: url(../../../components/rows/chevron-right.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px;
      opacity: .2;
      content: '';
      height: 24px;
      width: 24px;
      align-self: center;
      padding: 0 2rem;
      display: none;

      @media screen and (min-width: $medium) {
        display: block;
      }
    }

    figure {
      width: 100px;
      border-radius: 100px;

      img {
        width: 60px;
        height: 60px;
        object-fit: contain;
        object-position: center;
        padding: 1rem;
      }
    }
    .text {
      padding: 1rem 2rem;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;

      h3 {
        font-size: 1.33rem;
        font-weight: bold;
        margin-bottom: .25rem;
        color: var(--color-link);
        display: flex;
        align-items: center;

        span {
          background: var(--color-red);
          color: #fff;
          border-radius: 100px;
          font-size: .8rem;
          font-weight: normal;
          display: inline-block;
          padding: .2rem .5rem;
          margin-left: 1rem;
        }
      }
    }
  }
}