$small: 320px;
$medium: 480px;
$default: 640px;
$large: 900px;
$xlarge: 1140px;

$plarge: 900px + (8 * 16px);

//http://www.color-hex.com/color/778899

* {
  padding: 0;
  margin: 0;
  font-family: "acumin-pro";
  font-family: roboto;
  font-family: omnes-cond;
}

html {
  height: 100%;

  $min_width: $medium;
  $max_width: $xlarge;
  $min_font: 16px;
  $max_font: 21px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

:root {
  --color-red: #BB0060;
  --color-gray: hsl(210, 15%, 91%);
  --color-light: hsl(210, 15%, 97%);
  --color-link: hsl(228, 42%, 48%);
  --color-link-light: hsl(228, 42%, 80%);
  --main-padding: 2rem 1rem;
  --hero-sides: 0 1rem;
  --hero-outside: 0;

  /*@media screen and (min-width: $small) {
    --main-padding: 1rem;
  }*/

  @media screen and (min-width: $medium) {
    --main-padding: 2rem 1rem;
    --hero-sides: 0 2rem;
  }

  @media screen and (min-width: $default) {
    --main-padding: 4rem 2rem;
    --hero-sides: 0 2rem;
  }

  @media screen and (min-width: $large) {
    --main-padding: 4rem 2rem;
    --hero-sides: 0 4rem;
  }

  @media screen and (min-width: $xlarge) {
    --main-padding: 4rem;
    font-size: 21px;
  }
}

.button {
  background: #bb0060;
  padding: .5rem 2rem;
  color: #fff;
  border-radius: .25rem;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;

  &:hover {
    background: darken(#bb0060, 5%);
  }
}