#cookies-eu-banner {
  position: fixed;
  bottom: 0;
  background: #ffffff;
  width: 400px;
  padding: 2rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  left: calc(50% - 200px);
  box-shadow: 0 0 1rem rgba(0,0,0,0.2);
  border-bottom: none;
  z-index: 100;

  .modal {
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: 1rem;
    }

    .action {
      display: flex;
      justify-content: center;

      button {
        background: #eee;
        color: #000;
        border: none;
        padding: .5rem 2rem;
        font-size: 1rem;
        outline: none;

        &:hover {
          background: #ddd;
        }
      }
    }

    a {
      color: #000;
    }
  }
}